.v-toolbar {
  box-shadow: 0 0 20px 0 rgba(54,75,106,.1) !important;
}

.notification-message {
  display: inline-block;
  &::first-letter {
    text-transform: uppercase;
  }
}

.avatar {
  background: $primary;
  color: #FFFFFF;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50px;
  text-align: center;
  font-size: 21px;
  cursor: pointer;
  top: 3px;
  display: inline-block;
  position: relative;
}

.section-header {
  span {
    color: $primary;
  }
}
